.header {
  margin: 2rem 6em 1rem 6em;
}

.socialOrgansDiv {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
  margin: 1rem 6em;
}

.cardContainer {
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  width: 15rem;
  text-align: center;
}

.cardImg{
  min-height: 238px;
}

h1, h2 {
  text-align: center;
}