.header {
  margin: 2rem 6em 1rem 6em;
}

.socialOrgansDiv,
.allMembersDiv {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
  margin: 1rem 6em;
  gap: 1rem;
}

.socialOrgansDiv {
  gap: 2.5rem;
}

.cardContainer {
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
}

.socialOrgansDiv > .cardContainer > .card:hover{
  transform: scale(1.15);
}

.allMembersDiv > .cardContainer > .card:hover{
  transform: scale(1.075);
}

.card {
  width: 12.5rem;
  background: linear-gradient(180deg, transparent 0%, transparent 30%, var(--first-color) 100%);
  border: linear-gradient(180deg, transparent 0%, transparent 30%, var(--first-color) 100%);
  border-radius: 2em;
  border-width: 3px;
  transition: all 0.3s;
}

.cardImg{
  min-height: 238px;
  object-fit: cover;
  border-radius: 2em;
}

h1, h2 {
  text-align: center;
}