.mainPage {
  margin: 1rem 6em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 25vh 60vh;
  height: 100%;
  column-gap: 15px;
}

.collabInformation {
  background-color: rgb(211, 211, 211);
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto
}

.coordenatorBadge {
  position: absolute;
  top: 145px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.nameEmailDiv {
  padding: 10px;
}

.nameEmailDiv > p:first-child {
  margin: 0;
  font-size: 20px;
}

.nameEmailDiv > p:last-child {
  margin: 0;
  font-size: 14px;
}

.discordDiv {
  background-color: rgb(211, 211, 211);
  grid-row: 2/4;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-radius: 0 0 25px 25px;
}

.memberCard {
  gap: 2px;
  padding: 0 1px; 
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  place-content: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.teamsPainel >* h3 {
  padding: 0 20px;
}

.teamsDiv {
  display: flex;
  padding: 0 10px;
  width: 100%;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  gap: 15px;
}

.teamsPainel {
  background-color: var(--background-color);
  width: 100%;
  grid-row: 1/5;
  display: grid;
  justify-items: start;
  align-items: start;
}

.memberStatusDiv {
  grid-column: 2/3;
  padding: 10px;
  justify-items: center;
}

.memberImage {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-image: none;
  background-size: cover;
  background-position: center center;
  border-radius: 25px;
  grid-row: 1/3
}

.memberInfoStatus {
  width: auto;
  height: 25px;
  margin-left: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 11.5rem;
  text-align: center;
}

.cardTitle {
  margin: 0;
  font-size: 1em !important;
}

.cardImg {
  min-height: 100px;
  min-width: 75px;
  height: 175px;
}

.manageCollabButtons {
  padding: 0px 20px 10px 20px;
  display: flex;
  gap: 10px;
  position: relative;
}

.manageCollabButtons > Button:nth-child(1),
.manageCollabButtons > Button:nth-child(1):hover {
  background-color: darkGreen;
  color: white;
  border: 0;
}

.manageCollabButtons > Button:nth-child(2),
.manageCollabButtons > Button:nth-child(2):hover {
  background-color: darkRed;
  color: white;
  border: 0;
}

.manageCollabButtons > Button:nth-child(3),
.manageCollabButtons > Button:nth-child(3):hover {
  background-color: rgb(211, 211, 211);
  color: black;
  border: 0;
}

.manageCollabButtons > Button:last-child,
.manageCollabButtons > Button:last-child:hover {
  background-color: orange;
  color: white;
  border: 0;
}