.header {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 3rem 0 2rem 0;
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  padding: 0 0 2.5rem 0;
  gap: 2.5rem;
  max-width: 95%;
  margin: 0 auto;
}

.contactCard {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

.locationCard {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

.mapFrame {
  border-radius: 0.75rem;
  border: 0;
  width: 100%;
  height: 16rem;
  max-width: 80%;
}

.contactCard p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}
