.container {
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.header {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 2rem auto;
}

.pageGrid, .contactsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 0 2.5rem 2.5rem;
}

.cardMap {
  background: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

.card {
  background: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

iframe {
  border-radius: 0.75rem;
  width: 100%;
  height: 16rem;
  max-width: 80%;
}
