/* Mobile CSS */
@media only screen and (max-width: 750px) {
  .principalBody {
    display: block !important;
  }

  h1 {
    display: grid;
    font-size: 2.5rem !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .buttonsDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .messageDiv {
    max-width: 600px;
    height: auto;
    overflow: hidden;
  }

  .fsTable {
    font-size: 12px !important;
  }

  .principalTable {
    margin: 1rem 5vw !important;
  }


  .infoCard_img {
    width: 100px !important;
    height: 60% !important;
  }

  .infoCard_info {
    font-size: 12px !important;
    padding-left: 120px !important;
  }

  #tableDiv th {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 1000px) {
  #period {
    display: block !important;
    padding: 0 !important;
  }
}

.tabs {
  margin: 1rem 6em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.principalTable {
  place-self: center;
  margin: 1rem 6em;
  display: grid;
  place-self: center;
  justify-items: stretch;
  align-items: center;
  align-content: center;
}

.principalTable table {
  text-align: center;
}

.principalTable Button {
  background: transparent;
  border: transparent;
  padding: 0;
}

.fsTable {
  font-size: 14px;
}

.principalBody {
  margin: 1rem 6em;
  display: grid;
  text-align: center;
  justify-content: center;
}

.principalBody h1 {
  font-size: 30px;
}

.principalBody Button {
  margin: 0 10px;
  background: #248be3;
  border-color: #248be3;
  color: white;
}

.ControlDisable {
  padding: 0 !important;
  border: none !important;
  font-weight: bold !important;
  background-color: transparent !important;
}

.ControlActive {
  padding: 0 !important;
  border: dashed !important;
  font-weight: bold !important;
  background-color: transparent !important;
  text-indent: 10px !important;
}

.btnEditEmail,
.btnCopyEmailsHeader {
  color: white;
  font-size: 15px !important;
  background: #248be3 !important;
  border-color: #248be3 !important;
}

.btnsHeader {
  display: flex;
  width: 20em;
  gap: .5em;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-right: 1em;
}


.btnsHeader>.btnCopyEmailsHeader {
  width: 9em;
}

.btnsHeader>.btnCopyEmailsHeader:last-of-type {
  background-color: lightseagreen !important;
  border-color: lightseagreen !important;
}

.infoCard {
  position: relative;
  float: left;
  height: 275px !important;
  max-height: 275px;
  background: transparent !important;
  border-color: transparent !important;
  color: black !important;
  margin: 0 !important;
  width: 95%;
}

.infoCard,
.AllMembersCard {
  color: black;
  display: flex;
  background: rgb(36, 139, 227, 0.25);
  border-color: rgb(36, 139, 227, 0.25);
  overflow: auto;
  padding: 10px 10px 10px 15px;
  margin-top: 5px;
  position: relative;
  align-items: center;
  justify-items: center;
  height: 100px;
  border-radius: 10px;
  box-sizing: unset;
}

.nonActiveCard {
  color: black;
  display: grid;
  grid-template-columns: auto 1.5fr .25fr .5fr;
  grid-template-rows: 1fr 1fr;

  height: 100px;
  padding: 10px 10px 10px 15px;
  
  box-sizing: unset;
  border-radius: 10px;
  
  overflow: auto;
  align-items: center;
}

.modalTitle {
  width: -webkit-fill-available;
  font-size: 20px !important;
}

.modal50 {
  max-width: none !important;
  width: 50% !important;
}

.infoCard_info {
  position: absolute;
  font-size: 14px;
  padding-left: 200px;
  width: 95%;
}

#tableDiv {
  width: 100%;
  overflow-wrap: break-word;
}

#tableDiv table {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-collapse: collapse;
}

#tableDiv thead {
  background-color: darkblue;
  color: white;
}

#tableDiv th {
  width: 32.5%;
  text-align: center;
}

#tableDiv tbody th {
  font-size: 12px;
}

.memberImg {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  background-image: none;
  background-size: cover;
  background-position: center center;
}

.infoCard_img {
  position: absolute;
  width: 175px;
  height: 85%;
  display: block;
  border-radius: 5px;
  background-image: none;
  background-size: cover;
  background-position: center center;
}

.nonActiveCard_img {  
  width: 5rem;
  height: 85%;
  
  border-radius: 5px;
  background-image: none;
  background-size: cover;
  background-position: center center;

  grid-column: 1;
  grid-row: 1 / 3;
}

.infoCard p {
  font-size: 20px;
  width: 100%;
  display: inline;
  margin: auto;
}

.nonActiveInfo {
  width: 100%;
  font-size: 20px;
  padding-left: 1rem;

  grid-row: 1/3;
}


#period {
  display: inline;
  font-size: 16px;
}

@media only screen and (max-width: 990px){
  .nonActiveCard Button {
    font-size: x-small;
  }
} 

.nonActiveCard Button:first-of-type {
  height: 80px;
  grid-row: 1/3;
  font-size: small;

  background-color: lightcoral;
  border-color: lightcoral;
  font-weight: bold;
}

.nonActiveCard Button:active {
  background-color: coral !important;
  border-color: coral !important;
  font-weight: bold;
}

.nonActiveCard Button:nth-of-type(2) {
  grid-row: 1;
}

.nonActiveCard Button:last-of-type {
  grid-row: 2;
}

.nonActiveCard Button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  background-color: #248be3;
  border-color: #248be3;
  
  margin: .25em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.AllMembersCard_emails {
  overflow: auto;
  height: 45px;
  align-items: center;
  display: flex;
  margin-right: 5px;
  font-size: 20px;
}

.AllMembersCard Button {
  display: flex;
  right: 20px;
  position: absolute;
  background: #2863fd;
  border-color: #2863fd;
  color: white;
  height: 35px;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px
}

.buttonsColumn > button:hover{
  color: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
}