/* Mobile CSS */
@media only screen and (max-width: 750px) {
  .noRegisterDiv {
    text-align: center;
    text-indent: 10px;
    font-size: 12px;
  }

  .memberInfoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: fit-content;
  }
  
  .memberImageContainer {
    width: 100% !important;
  }

  .memberInfo {
    margin-left: 0 !important;
    height: auto !important;
    display: block;
  }

  .memberInfo b {
    display: block;
  }
}

.principalBody {
  margin: 2rem 6em;
}

.noRegisterDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-indent: 10px;
}

.memberInfoDiv {
  display: flex;
  justify-content: center;
}

.memberImageContainer{
  float: left;
  height: 150px;
  width: auto;
}

.memberImage {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: none;
  background-size: cover;
  background-position: center center;
  border-radius: 25px;
}

.memberCourse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin: 10px auto;
  color: white;
  background-color: darkblue !important;
}

.memberInfo {
  margin-left: 25px;
  width: auto;
  height: 150px;
  position: relative;
}

.memberInfoStatus{
  width: auto;
  height: 25px;
  margin-left: 10px;
}

.divButton,
.information {
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.electionCardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 10px 10px;
  align-content: space-around;
}