.loginButton {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--fg-color);
  border: 1px solid var(--fg-color);
  border-radius: 20px;
  padding: 6px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .loginButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.loginIcon {
  margin-left: 5px;
}