:root{
    --link-bottom: 100px;
    --footer-heigth:  160px;
    --compensasion : 75px;
    --links-heigth-mob: 160px;
    --footer-heigth-mob:  460px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

footer{
    margin-top: auto;
    position: relative;
}

#root {
    min-height: 100%;
    display:flex; 
    flex-direction:column;     
    background: linear-gradient(270deg, rgba(40, 99, 253, 0.075) 0%, rgba(36, 139, 227, 0.05) 100%), #FFFFFF;
    position: relative;
}

#content-wrap{
    width: auto;
    margin: 1.5em 6em;
    position: relative;
    margin-bottom: calc(var(--footer-heigth) + var(--compensasion));
}

@media only screen and (max-width: 885px) {
    #content-wrap{
        margin-bottom: calc(var(--footer-heigth-mob) + var(--compensasion)) !important;
    }
}

@media only screen and (max-width: 650px) {
    #content-wrap{
        margin-bottom: calc(var(--footer-heigth-mob) + var(--compensasion) + var(--links-heigth-mob)/4) !important;
    }
}