  .themeToggle {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg-color);
    overflow: hidden;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  .themeToggle:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dark .themeToggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .iconContainer {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
  }

  .sunIcon,
  .moonIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-out, opacity 0.2s ;
  }

  .sunIcon {
    transform: rotate(0deg);
    opacity: 1;
  }

  .moonIcon {
    transform: rotate(-90deg);
    opacity: 0;
  }

  .themeToggle.light .sunIcon {
    transform: rotate(0deg);
    opacity: 1;
  }

  .themeToggle.light .moonIcon {
    transform: rotate(-90deg);
    opacity: 0;
  }

  .themeToggle.dark .sunIcon {
    transform: rotate(90deg);
    opacity: 0;
  }

  .themeToggle.dark .moonIcon {
    transform: rotate(0deg);
    opacity: 1;
  }
  