.hero {
  background: var(--background-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.title {
  color: var(--foreground-colour);
  font-size: clamp(1rem, 4vw, 3rem);
  margin-top: 4rem;
  text-align: center;
  padding: 0 1rem;
}

.primary {
  color: var(--primary-colour);
}

.secondary {
  color: var(--secondary-colour);
}

.tertiary {
  color: var(--tertiary-colour);
}

.quaternary {
  color: var(--quaternary-colour);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 8rem;
  color: var(--secondary-colour);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.heroImage {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.campusImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.student {
  position: absolute;
  bottom: 1.7vw;
  left: 50%;
  width: 16%;
  max-width: clamp(5rem, 14vw, 10rem);
  height: auto;
  z-index: 2;
}

@media (max-width: 728px) {
  .student {
    bottom: 2vw;
    width: 10%;
    max-width: 4rem;
  }
}

.flipped {
  transform: scaleX(-1);
}
