.hero {
  height: 100vh;
  width: 100%;
}

.backgroundImage {
  overflow: hidden;
  opacity: 75%;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.initialBlur {
  position: absolute;
  width: 150%;
  height: clamp(60em, 82.5em, 80em);
  top: calc(-1 * clamp(60em, 82.5em, 80em) * 3 / 4);
  left: -25%;
  background: var(--bg-color);
  border-radius: 50% / 30%;
  filter: blur(25px);
}

.finalBlur {
  position: absolute;
  width: 175%;
  top: calc(90vh - 2em);
  left: -25%;
  height: 7.5vw;
  background: var(--bg-color);
  border-radius: 50% / 30%;
  filter: blur(15px);
}

.titles {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.titles > p:first-child {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-family: "Secular One";
  text-align: center;
  color: var(--first-color);
}

.titles > p:last-child {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 600 !important;
  text-align: center;
  width: clamp(70%, 75%, 80%);
}
