.fullscreen_section {
    height: 100vh;
    align-content: center;
    /*
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    vertical-align: middle;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    */
}

#thesis {
    background: url("thesis_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#hashcode {
    background: url("hashcode_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#articles {
    background: url("articles_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content { 
    vertical-align: middle;
    color: white;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
}

.right {
    grid-column-start: 3;
    grid-column-end: 5;
}

.left {
    grid-column-start: 1;
    grid-column-end: 3;
}

.center {
    grid-column-start: 2;
    grid-column-end: 4;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.body_text {
    font-size: 1.4rem;
    white-space: pre-wrap; /*FIXME*/
    line-height: normal;
}

.btt {
    border-radius: 100px !important;
    border-width: 2px !important;
    background-color: #0f7699 !important;
    border-color: #0f7699 !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: 1rem !important;
    /*
    width: 12rem;

    */
}

.btt:hover{
    background-color:#084053 !important;
    border-color:#084053 !important;
}

/*Removes dotted border from links*/
a {
    outline: 0;
}

/*Removes blue outline from buttons*/
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

/* For width 400px or smaller: */
@media only screen and (max-width: 455px) {
    #logo {
        max-width: 340px;
    }

    .body_text { 
        text-align: center;
    }
}
