.textarea {
	width: 100%;
	min-height: 320px;
	border-width: 2px;
	border-color: #d1d5db;
	border-style: solid;
	border-radius: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	resize: vertical;
}
