.container {
  position: relative;
  margin-bottom: 0.5rem;
}

.label {
  position: absolute;
  top: -1.5rem;
  font-size: 0.875rem;
  color: #000;
  user-select: none;
  padding-right: 0.25rem;
}

.input {
  font-size: 1.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
