.page {
  min-height: 100vh;
  background: var(--backgroud-color);
  padding-bottom: 2.5rem;
}

.title {
  font-weight: 800;
  font-size: 2rem;
  color: #333;
  margin: 2.5rem 0 1.5rem 0;
  text-align: center;
}

.departmentTitle {
  color: var(--secondary-colour);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 2.5rem 0 1.2rem 0;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .grid {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .grid > * {
    flex: 1 1 30%;
    max-width: 30%;
  }
}

@media (max-width: 425px) {
  .grid {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .grid > * {
    flex: 1 1 40%;
    max-width: 40%;
  }
}

@media (max-width: 320px) {
  .grid > * {
    flex: 1 1 85%;
    max-width: 85%;
  }
}
