.container {
  margin: 0;
  background: var(--background-colour);
  padding: 0;
}

.header {
  padding: 1.5rem 2rem;
  margin: 0;
  background: var(--background-colour);
}

.header h1 {
  color: var(--foreground-colour);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  user-select: none;
}

.tabBar {
  padding: 0 2rem;
  display: flex;
  gap: 0;
  margin: 0;
  overflow-x: auto;
  background: var(--background-colour);
}

.tabButton {
  font-weight: 400;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  position: relative;
}

.tabButton:hover {
  background: var(--background-colour-hover);
  border-radius: 1.5rem;
  border-bottom: 0px solid transparent;
}

.activeTab {
  color: var(--primary-colour);
  border-bottom-color: var(--primary-colour);
}

.dashboard {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 140px);
}

@media (max-width: 480px) {
  .tabButton {
    flex-direction: column;
    gap: 0rem;
    padding: 0.2rem 0.2rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .activeTab {
    border-bottom-width: 2px;
    margin-bottom: 0.1rem;
  }

  .icon {
    font-size: 0.9rem;
  }
}
