.container {
  min-height: 100vh;
  padding: 2rem;
}

.button {
  display: inline-block;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #1f2937;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  transform: translateY(-2px);
  background-color: #1d4ed8;
  box-shadow: 0 8px 15px rgba(37, 99, 235, 0.3);
}

.signedUpScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--background-colour);
}

.signedUpContent {
  text-align: center;
  color: white;
}

.signedUpContent h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.signedUpContent p {
  font-size: 1.25rem;
  margin: 0;
  opacity: 0.95;
}

.mainTitle {
  text-align: center;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.saveTheDateText {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
  letter-spacing: 4px;
  font-size: 1.7rem;
}

.separator {
  border: none; 
  height: 3px; 
  background-color: rgb(234, 179, 8);
  opacity: 0.6; 
  margin: 0;
} 

.infoList {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 500px;
}

.icon {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.infoItem {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 1.25rem 0;
  border-bottom: 2px dashed rgb(234, 179, 8);
}

.infoList {
  margin: 1rem auto;
}

.infoItem:nth-child(1) .icon {
  color: #ef4444; 
}

.infoItem:nth-child(2) .icon {
  color: #3b82f6; 
}

.infoItem:nth-child(3) .icon {
  color: #eab308; 
}

.infoItem:last-child {
  border-bottom: none;
}

.infoValue {
  margin-left: 1rem;
}

.description {
  max-width: 550px;
  margin: 1rem auto 2.5rem auto;
  text-align: center; 
  font-size: 1.1rem;                                                                                                                              
}

.contentWrapper {
  display: flex;
  align-items: center; 
  max-width: 1200px;
  margin: -2rem auto;
  gap: 4rem; 
}

.leftColumn {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.rightColumn {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.image {
  max-width: 90%;
  height: auto;
  transform: translateY(-3rem); /* Sobe a imagem */
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.15)); /* Adiciona sombra ao contorno do copo */
}
