.container {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 8rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .container {
    margin: 0 1.5rem;
    padding: 0;
  }
}
