@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

:root {
  --background-colour: #f2f2f7;
  --foreground-colour: #333333;
  --primary-colour: #2863fd;
  --secondary-colour: #258be3;
  --tertiary-colour: #34d1f9;
  --quaternary-colour: #5ee8fa;
  --hover: rgba(0, 0, 0, 0.05);
  --font-family: "Secular One";
}

.dark {
  --background-colour: #1e1e1e;
  --foreground-colour: #e0e0e0;
  --hover: (224, 224, 224, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--foreground-colour);
  background-color: var(--background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: var(--foreground-colour);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.3rem;
}

p,
ul {
  font-size: 0.9rem;
  line-height: 1.6;
}
