.postGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  margin: 0 25rem;
}

@media (min-width: 640px) {
  .postGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .postGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.centeredRow {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.noPosts {
  color: #888;
  font-size: 1.2rem;
  padding: 6rem 0;
}

@media (max-width: 600px) {
  .postGrid {
    grid-template-columns: 1fr;
  }
}
