.stack {
  display: flex;
}
.dir-column {
  flex-direction: column;
}
.dir-row {
  flex-direction: row;
}
.gap-none {
  gap: 0;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 1rem;
}
.gap-lg {
  gap: 2rem;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.wrap {
  flex-wrap: wrap;
}
