.shopContainer {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 6rem;
}

.shopHeader {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.shopTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-colour);
  margin-bottom: 0.5rem;
}

.shopSubtitle {
  color: var(--light-foreground-colour);
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  gap: 2rem;
}
