.container {
  background: var(--primary-colour);
  padding: 2.5rem;
  margin: 2rem 0;
  display: flex;
  gap: 1.1rem;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.descprition {
  color: white;
  margin: 0;
  font-size: 1.3rem;
}

.apply {
  background: transparent;
  color: white;
  border: 2px solid #fff;
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
  align-self: flex-start;
}
