.loginButton {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--fg-color);
  border: 2px solid var(--fg-color);
  border-radius: 20px;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .loginButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.loginIcon {
  margin-right: 8px;
}
