.header {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 1rem 2rem;
  height: 4rem;
  box-shadow: none;
  z-index: 1000;
  box-sizing: border-box;
  justify-content: space-between;
}

.header.sticky {
  position: sticky;
  top: 0;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.logo {
  width: 8rem;
  height: auto;
  text-decoration: none;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  color: var(--fg-color);
  font-size: 1.5rem;
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  animation: slideIn 0.3s linear forwards;
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}

.mobileMenu .logo {
  position: static;
  margin-bottom: 1rem;
}

.mobileMenu .navLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileMenu .closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--fg-color);
  cursor: pointer;
}


@media (max-width: 767px) {
  .navLinks {
    display: none;
  }

  .mobileMenuButton {
    display: flex;
  }

  .actions {
    gap: 0.3rem;
  }

  .actions.hidden {
    display: none;
  }
}
