.navLink {
  text-decoration: none;
  border: none;
  color: var(--fg-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--first-color);
}

.menuItem {
  display: flex;
  text-decoration: none;
  border: none;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--fg-color);
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
