.loginButton {
  display: flex;
  align-items: center;
  background: transparent;
  font-weight: bold;
  color: var(--foreground-colour);
  border-radius: 20px;
  border: 2px solid var(--foreground-colour);
  padding: 6px 15px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s, transform 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.loginButton:hover {
  color: var(--background-colour);
  background: var(--primary-colour);
  border: 2px solid var(--primary-colour);
}

.loginButton:active {
  transform: scale(0.95);
}

.loginIcon {
  stroke-width: 3.5;
  margin-left: 6px;
}
