.themeToggle {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground-colour);
  overflow: hidden;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.themeToggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark .themeToggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  animation: rotateSun 0.4s ease;
}

.dark .icon {
  animation: rotateMoon 0.4s ease;
}

@keyframes rotateSun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotateMoon {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
