.main {
    padding: 0.5em !important;
    border-width: 0em !important;
    border-radius: 1em !important;
    background-image: linear-gradient(#248be380, #ffffff);
}

.header {
    display: block !important; 
    border-width: 0em !important;
    flex-grow: initial !important;
}

.title {
    text-align: center;
    font-size: 2em !important;
    font-weight: bold !important;
    color: var(--first-color); 
}

.body {
    padding-top: 0 !important;
}