footer {
    padding: 2rem;
    background-color: #182c39;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 6rem;
}

.footer-icon {
    padding-right: 5%;
    padding-left: 5%;
} 