footer {
    padding: 2rem;
    background-color: #182c39;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer-icon-container {
    padding-right: 5%;
    padding-left: 5%;
}

.footer-icon{
    transition: 0.3s;
}

.footer-icon:hover {
    fill: #d1e3f0;
}