@media only screen and (max-width: 750px) {
    .title{
        font-size: 2.5rem;
        font-family: "Secular One";
        text-align: center;
        color: var(--first-color);
    }
    
    .subtitle{
        font-size: 1.2rem;
        font-weight: 600 !important; 
        text-align: center;
    }
}

@media only screen and (min-width: 750px){
    .title{
        font-size: 3.25rem;
        font-family: "Secular One";
        text-align: center;
        color: var(--first-color);
    }
    
    .subtitle{
        font-size: 1.5rem;
        font-weight: 600 !important; 
        text-align: center;
    }
}
