.dialog {
  padding: 0.5rem;
}

.message {
  margin-block-end: 1.5rem;
  white-space: pre-line;
  color: var(--ui-fg-light);
  font-size: 0.95rem;
  line-height: 1.5;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
