name: Release Please

on:
    workflow_dispatch:
    push:
        branches:
            - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        with:
          release-type: node
          default-branch: main
          changelog-path: CHANGELOG.md
